<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <span>The following plan was generated for the <%- if part == :local -%>local<%else %>remote<%end %>
        node:</span>
        <br/>
        <ol>
            <%if part == :local %>
            <li>
                Put resources <b><%= group.master.id %></b>, <b><%= group.clone.id %></b> and <b><%= group.vip.id %></b> into maintenance mode;
            </li>
            <li>
                Break system replication between sites <b><%= remote.running_on.site %></b> and <b><%= local.running_on.site %></b>;
            </li>
            <% if @configuration.mount_nfs %>
            <li>
                Mount update medium <b><%= @configuration.nfs_source %></b> on <b><%= local.running_on.name %></b>;
            </li>
                <% if @configuration.copy_medium %>
                <li>Copy contents of the update medium to <b><%= @configuration.nfs_copy_path %></b>;</li>
                <% end %>
            <% end %>
            <li>
                Update HANA on site <b><%= local.running_on.site  %></b> (host <b><%= local.running_on.name %></b>) manually using the preferred update method;
            </li>
            <%else %> <!-- remote node -->
            <li>Stop HANA on local site <%= local.running_on.site %></li>
            <li>
                Register site <b><%= local.running_on.site %></b> as secondary to <b><%= remote.running_on.site %></b> and wait
                until replication finishes;
            </li>
            <li>Start HANA on local site <%= local.running_on.site %></li>
            <li>
                Take over from site <b><%= remote.running_on.site %></b> to <b><%= local.running_on.site %></b>;
            </li>
            <li>
                Migrate resource <b>ip_rsc</b> to node <b><%= local.running_on.name %></b>
            </li>
            <li>
                # TODO: this already broke the replication!
                Break system replication between sites <b><%= local.running_on.site %></b> and <b><%= remote.running_on.site %>;</b>
            </li>
            <li>
                Mount update medium <b><%= @configuration.nfs_source %></b> on <b><%= remote.running_on.name %></b>;
            </li>
            <li>
                Update HANA manually on site <b><%= remote.running_on.site %></b> (host <b><%= remote.running_on.name %></b>) using the preferred update method.
            </li>
            <%end %>
        </ol>
        <br/>
        <span></span>
        <br/>
        <span>Refer to the on-screen instructions on the next screen and to the <i>SAP HANA Master Update
        Guide</i> and <i>HANA Server Installation and Update Guide</i>.</span>
    </body>
</html>