<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css">
    code {
      font-family: "Nimbus Mono L", "Monospace", monospace;
    }
  </style>
</head>
<body>
  <span>
      The following plan was generated for the <%= part.to_s %> node:
  </span>
  <% if part == :local %>
    <!--
            PLAN FOR LOCAL NODE
     -->
    <ol>
      <li>
        Put the following resources into <i>maintenance mode</i>:
        <ul>
          <li><b><code><%= group.master.id %></code></b>,</li>
          <li><b><code><%= group.clone.id %></code></b>,</li>
          <li><b><code><%= group.vip.id %></code></b>.</li>
        </ul>
      </li>
      <li>
        Disable system replication between sites
        <b><code><%= remote.running_on.site %></code></b> and
        <b><code><%= local.running_on.site %></code></b>.
      </li>
      <% if model.nfs.should_mount? %>
          <li>
            Mount update medium
            <b><code><%= model.nfs.source %></code></b> on
            <b><code><%= local.running_on.name %></code></b>.
          </li>
          <% if model.nfs.copy_medium? %>
              <li>
                Copy contents of the update medium to
                <b><code><%= model.nfs.copy_path %></code></b>.
              </li>
          <% end %>
      <% end %> <!-- if model.nfs.should_mount? -->
      <li>
        <b>[Manual step]</b>
        Update SAP HANA on site <b><code><%= local.running_on.site %></code></b>
        (host <b><code><%= local.running_on.name %></code></b>)
        manually using the preferred update method.
      </li>
    </ol>
<% else %>
    <!--
            PLAN FOR REMOTE NODE
     -->
    <ol>
      <li>
        Stop SAP HANA on local site <code><%= local.running_on.site %></code>.
      </li>
      <li>
        Register site <b><code><%= local.running_on.site %></code></b>
        as secondary to <b><code><%= remote.running_on.site %></code></b>.
      </li>
      <li>
        Start SAP HANA on local site <b><code><%= local.running_on.site %></code></b> and wait until both instances are
        in sync.
      </li>
      <li>
        Take over from site <b><code><%= remote.running_on.site %></code></b> to
        <b><code><%= local.running_on.site %></code></b>.
      </li>
      <li>
        Migrate virtual IP resource <b><code>ip_rsc</code></b> to node
        <b><code><%= local.running_on.name %></code></b>.
      </li>
      <li>
        Disable system replication on node
        <b><code><%= remote.running_on.site %></code></b>.
      </li>
      <% if model.nfs.should_mount? %>
          <li>
            Mount update medium
            <b><code><%= model.nfs.source %></code></b> on
            <b><code><%= remote.running_on.name %></code></b>.
          </li>
          <% if model.nfs.copy_medium? %>
              <li>
                Copy contents of the update medium to
                <b><code><%= model.nfs.copy_path %></code></b>.
              </li>
          <% end %>
      <% end %> <!-- if model.nfs.should_mount? -->
      <li>
        <b>[Manual step]</b>
        Update SAP HANA on site <b><code><%= remote.running_on.site %></code></b>
        (host <b><code><%= remote.running_on.name %></code></b>)
        manually using the preferred update method.
      </li>
    </ol>
<% end %>
<p>
  Refer to the help section in the next screen and to the official SAP documentation:
  <i>SAP HANA Master Update Guide</i> and
  <i>SAP HANA Server Installation and Update Guide</i>.
</p>
</body>
</html>