<html>
<head>
  <style>
    body {
      background-color: #ffffff;
    }

    table, th, td {
      border-color: black;
      padding: 5px;
      border-width: 1px;
    }

    td {
      padding-right: 10px;
    }

    .tbold {
      font-weight: bold;
    }

    .col_red {
      color: #b30000;
    }

    .col_green {
      color: #008000;
    }

    .col_suse_dk_grn {
      color: #00843E;
    }

    .col_suse_grn {
      color: #7AC142;
    }

    .col_suse_med_grn {
      color: #00A54F;
    }

    .col_suse_dk_gray {
      color: #58585a;
    }

    a {
      font-weight: bold;
      color: #00A54F;
    }

    .steps {
      padding-top: 5px;
    }
  </style>
</head>
<body>
<h3 style="color:#00843E">Update procedure completed.</h3>

<% if hana_instances > 0 -%>
    <p>Local HANA instances:</p>
    <ul>
      <% local_hana.each do |e| -%>
          <li> System ID <b><%= e[:sid] %></b>, instance <b><%= e[:instance] %></b>, virtual host
            <b><%= e[:virtual_host] %></b>.
          </li>
      <% end -%>
    </ul>
<% else -%>
    <p>No HANA instances are installed on this machine.</p>
<% end -%>

<% if cluster_up %>
    <p>Current node is a cluster node.</p>
    <p>
      <% if replication_on %>
          System replication is enabled and functional.
      <% else %>
          System replication is not functional: secondary node has status <%= hana_secondary.sr_state %>.
      <% end %>
    </p>
    <br>
    <table border="1">
      <tr>
        <th>Parameter</th>
        <th colspan="2"><%= hana_primary.node %> (<%= hana_primary.vhost %>) ===> <%= hana_secondary.node %>
          (<%= hana_secondary.vhost %>)
        </th>
      </tr>
      <% hana_primary.instance_variables.each do |ivn| -%>
          <tr>
            <td><%= hana_primary.field_description(ivn) %></td>
            <td><%= hana_primary.instance_variable_get(ivn) %></td>
            <td><%= hana_secondary.instance_variable_get(ivn) %></td>
          </tr>
      <% end -%>
    </table>

    <!--     <p>Primary: <%= hana_primary.node %>, version: <%= hana_primary.hana_version %>.</p>
    <p>Secondary: <%= hana_secondary.node %>, version: <%= hana_secondary.hana_version %>.</p> -->

    <p>Click Next to continue.</p>
<% else %>
    <p>Current host is <b>not a member of a cluster</b>.</p>
    <p>In order to complete a non-HA HANA update, please follow the official SAP HANA Administration Guide.</p>
    <p>The wizard cannot continue.</p>
<% end %>
</body>
</html>