<html>
<head>
</head>
<body>
    <h3>Update HANA on site <%= node.site %> using the preferred update method.</h3>

    Note: The contents of the NFS share have been copied locally to <code><%= nfs_share_local %></code>.

    <h3>1. Using a full update medium:</h3>
    <ul>
        <li><span>Log in to <%= node.name %>:</li><br/>
        <code>ssh root@<%= node.name %></code> or <code>ssh root -Y root@<%= node.name %></code> for GUI mode</span>
        <li>Navigate to the HDB LCM directory:</li><br/>
        <code>cd <%= nfs_share_local %>/DATA_UNITS/HDB_LCM_LINUX_X86_64</code> <!-- TODO: check architecture -->
        <li>Execute <code>hdblcm</code>:</li><br/>
        <code>./hdblcm --action=update</code> or <code>./hdblcmgui --action=update</code> for GUI mode
        <li>Follow the on-screen update instructions.</li>
    </ul>

    <h3>2. Using the SAP HANA HDBLCM Web User Interface:</h3>
    <ul>
        <li>Open <a href="hdblcm_web"><%= hdblcm_link %></a></li>
        <li>Log in with <code><%= @configuration.system.hana_sid.downcase %>adm</code> user.</li>
        <li>Follow the procedure as described in <i>SAP HANA Server Installation and Update Guide</i>.</li>
    </ul>

    <br/>
    <h3>Click "Next" when site <%= node.name %> is updated.</h3>
</body>
</html>