<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <span>The following plan was generated in order to restore the original state of the cluster:</span><br>
        <ol>
            <li>
                Register site <b><%= remote.running_on.site %></b> as secondary to <b><%= local.running_on.site %></b> and wait
                until replication finishes;
            </li>
            <li>
                Revert synchronization direction, making site <b><%= remote.running_on.site %></b> primary;
            </li>
            <li>
                Migrate resource <b><%= group.vip.id %></b> to node <b><%= remote.running_on.name %></b>
            </li>
            <li>
                Clean up cluster resources;
            </li>
            <li>
                Disable maintenance mode for resources <b><%= group.master.id %></b>, <b><%= group.clone.id %></b> and <b><%= group.vip.id %></b>.
            </li>
        </ol>
    </body>
</html>